* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slick-slide {
  padding: 5px 15px;
}

.slick-list {
  margin-left: -10px; /* Compense le padding sur le premier slide */
  padding-left: 10px; /* Alignement propre sur la gauche */
}

/* Exemple de styles Markdown */
.markdown-content h1,
.markdown-content h2,
.markdown-content h3,
.markdown-content h4,
.markdown-content h5,
.markdown-content h6 {
  font-weight: bold;
  margin-top: 1.5rem;
}

.markdown-content p {
  margin: 1rem 0;
  line-height: 1.6;
}

.markdown-content ul {
  list-style-type: disc;
  margin-left: 1.5rem;
}

.markdown-content li {
  margin: 0.5rem 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "monument-extended";
  src: url("/fonts/MonumentExtended-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  :root {
    --background: 173 58% 39%;
    --foreground: 0 0% 12%;
    --muted: 254 32% 7%;
    --muted-foreground: 254 10% 71%;
    --popover: 134 30% 1%;
    --popover-foreground: 134 39% 100%;
    --card: 134 30% 1%;
    --card-foreground: 134 39% 100%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --primary: 43 84% 70%;
    --primary-foreground: 134 72% 12%;
    --secondary: 12 76% 61%;
    --secondary-foreground: 0 0% 100%;
    --accent: 14 72% 52%;
    --accent-foreground: 0 0% 100%;
    --destructive: 18 86% 46%;
    --destructive-foreground: 0 0% 100%;
    --ring: 134 72% 52%;
  }
}

html,
body {
  @apply bg-[hsl(var(--background))] text-[hsl(var(--foreground))];
  font-family: "monument-extended", sans-serif;
}

.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
}

.scroll-text {
  display: inline;
  animation: scroll 10s linear infinite;
}
